doctype html
html
    head
        title= title
    body
        block content
            h1= title

            label Search for a city's weather forecast here via coordinates:
            br
            br
            form(action="http://localhost:3000/ps4/weather-form" method="post")
                input#search(type='text' name='search' placeholder='42.36,71.05')
                br
                br
                button(type="submit") Search

            p

            h2 Results from weather api call:
            p= data